<div class="row">
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Cursos</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Programacion con lenguaje Python</h2> - <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">2022</h3>
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Otorgado por: Trabajo y promocion del empleo La Pampa</p>
        </ul>

        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Ciberseguridad en el teletrabajo</h2> - <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">2021</h3>
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Otorgado por: Google</p>
        </ul>

        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Google my business y Google forms</h2> - <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">2021</h3>
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Otorgado por: Google</p>
        </ul>

        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Programador Java y Base de datos My SQL</h2> - <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">2018</h3>
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Otorgado por: Instituto 1° de Mayo</p>
        </ul>

        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Operador de PC</h2> - <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">2014</h3>
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Otorgado por: Direccion de educacion permanente de jovenes y adultos</p>
        </ul>

    </div>

</div>
