<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/foto carnet.jpg" class="img-fluid" id="fotodeperfil">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre" style="font-family:Verdana, Geneva, Tahoma, sans-serif" >{{persona.nombre}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Acerca de mi </h1>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita omnis quae tenetur modi quasi blanditiis delectus placeat minus iste odit hic pariatur, ex at. Quaerat voluptatum hic possimus dolorem.</p>
        </span>
    </div>
</div>
