<div class="row">
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif">  Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Estudio terciario</h2> - <h3>Instituto Vision Tecnologica (cursando)</h3>
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Analista de sistemas
            </p>
        </ul>

        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Estudio secundario</h2> 
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Polimodal - Colegio provincia de La Pampa</p>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Secunadario - Colegio Ricardo Nervi</p>
        </ul>

        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Estudio Primario</h2>
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Escuela Manuel Belgrano Nro. 74</p>
        </ul>
    </div>
</div>

