<div class="row">
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif"> Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Mostaza</h2> - <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Enero 2016 - Marzo 2016</h3>
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Atencion al cliente /
                Ventas /
                Manejo de caja /
                Manipulacion de alimentos /
                Limpieza
            </p>
        </ul>

        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Quinoa</h2> - <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Julio 2017 - Septiembre 2017</h3>
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">Atencion al cliente /
                Ventas /
                Manejo de caja /
                Limpieza
            </p>
        </ul>

        <ul>
            <li>
                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Empleada domestica</h2> - <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Julio 2021 - Actualmente</h3>
            </li>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif"> Limpieza</p>
        </ul>

    </div>

</div>
